body {
  background-image: linear-gradient(45deg, #8cbcfa, #688cba);
  background-attachment: fixed;
}

.default-card {
  background-color: #688cba;
}

@font-face {
  font-family: "Aurebesh";
  src: url("Aurebesh.ttf.woff") format("woff"),
    url("Aurebesh.ttf.svg#Aurebesh") format("svg"), url("Aurebesh.ttf.eot"),
    url("Aurebesh.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

#head,
#intro {
  font-family: "Aurebesh", Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.allStudents {
  display: flex;
}

#student-card,
#expel-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  flex-basis: 0;
}

#student-card {
  border-radius: 2rem;
}
.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc(100% / 5);
  flex-direction: row;
  flex-grow: 10;
}

.btn-lg {
  flex-grow: 1;
  color: black;
}

#all {
  background-color: #e6f3f5;
  color: black;
}

#Ataru {
  background-color: #3164f0;
}

#Makashi {
  background-color: #01f00f;
}

#Sokan {
  background-color: #ebe403;
}

#Vaapad {
  background-color: #ce09e0;
}

#expel-card {
  background-color: #ad1a1a;
}

.expel-btn {
  width: auto;
  align-self: flex-end;
  background-color: #ad1a1a;
  border: 1px solid red;
}

@media only screen and (max-width: 767px) {
  .allStudents {
    flex-direction: column;
    align-content: center;
  }

  #student-card,
  #expel-card {
    width: 10rem;
  }
  .expel-btn {
    width: auto;
    align-self: flex-end;
  }
}
